.create-recipe{
    text-align: center;
    width: 700px;
    padding: 4px;
    border: solid black 2px;
}

.create-recipe p{
    font-size: 20px;
}

.create-recipe .recipeNameInput{
    text-align: center;
    padding: 4px 8px;
    width: 100%;
    box-sizing:border-box;
}

.create-recipe .recipeNameInput::placeholder{
    font-size: 14px;
    font-weight: bold;
}

.create-recipe .inputs{
    display: flex;
    height:30px;
    margin: 8px;
}

.create-recipe .inputs input{
    height: 30px;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 4px 8px;
}

.create-recipe .inputs input::placeholder{
    font-size: 14px;
    font-weight: bold;
}

.create-recipe button{
    font-weight: bold;
    padding: 4px 8px;
}

.create-recipe .delete{
    background-color: rgb(255, 104, 104);
    display: inline-block;
}

.create-recipe input[type='submit']{
    font-weight: bold;
    padding: 4px 8px;
    margin: 8px;
}