* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: white;
    --secondary-color: rgb(200, 200, 200);
    --active-color: rgb(0, 153, 255);
    margin-bottom: 50px;
}

.modal-header{
    background-color: rgb(var(--bs-dark-rgb));
    color: white;
}

.modal-body{}